.boxCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 400px;
  @apply max-w-sm bg-white border border-gray-200 rounded-lg flex flex-col;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.32) 0px 3px 6px, rgba(0, 0, 0, 0.46) 0px 3px 6px;
  };

  & > Link > img {
    @apply w-full h-48 object-cover rounded-t-lg
  };
}